
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #777;
  font-weight: bold;
}

.card {
  width: 300px; 
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 100px auto;
  padding: 20px; 
  position: relative; 
}

.close {
  position: absolute;
  cursor: pointer;
  top: 10px; 
  right: 10px; 
  max-width: 20px;
  filter: opacity(0.4);
}

.profile {
 
  height: 150px; 
  border-radius: 50%;
  object-fit: cover;
  margin: 20px auto 15px; 
}

h1 {
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  font-size: 16px;
  color: #777;
  margin: 5px 0;
}

a {
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  width: 300px;
  height: 70px;
  border: 2px solid #000;
  border-radius: 50px; 
  background-color: #333;
  transition: background-color 0.2s;
  margin: 20px auto; 
}
a:hover {
  background-color: #555;
}


a:focus, a:hover {
  text-decoration: none;
}

